<!-- User is given confirmation that they have successfully registered -->
<!doctype html>
<html>
  <head>
    <title>Register Page</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav> 
      <p1><a href="/"> Return to Home</a></p1>  <!-- Link to the home page -->
    </nav>
    <h1>Registration Successful!</h1>
    <h2>Welcome <%= first %>, you have successfully created an account with us.</h2>
    <p>Click below to log in.</p>
    <p><a href="/users/login">Login</a></p>  <!-- Link to the login page -->
  </body>
</html>