<!-- This page tells the user about the web application -->
<!doctype html>
<html>
  <head>
    <title>About Umair's Restaurant</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav> 
      <p1><a href="/"> Return to Home</a></p1>  <!-- Link to the home page -->
    </nav>
    <h1>About Umair's Restaurant</h1>
    <p>We serve a whole range of exquisite dishes and delicacies for all tastes!</p>
  </body>
</html>