<!-- This page tells the user about the web application -->
<!doctype html>
<html>
  <head>
    <title>About Umair's Restaurant</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav> 
      <p1><a href="/"> Return to Home</a></p1>  <!-- Link to the home page -->
      <button id="darkmode">Enable Dark Mode</button> <!-- Button to toggle dark mode -->
    </nav>
    <h1>About Umair's Restaurant</h1>
    <p>We serve a whole range of exquisite dishes and delicacies for all tastes!</p>
    <p>Our menu includes a range of dishes from around the world, including vegan dishes and budget foods too! There is something for all tastebuds available here.</p>
    <p>We have many features available on our website, such as being able to see the different menus like vegan and saver options.</p>
    <p>You can also search for specific items on the menu, so you can find exactly what you are looking for.</p>
    <p>Can't find what you're looking for? Don't worry, simply add it to our menu using the add item feature.</p>
    <p>We know health is important, which is why you can find the nutritional information of any item you want by heading to our nutrition page.</p>
    <p>Remember to to create an account with us and login!</p>
    <p>Enjoy your time at Umair's Restaurant!</p>
    <script src="/darkmode.js"></script>  <!-- Link to dark mode script -->
  </body>
</html>