<!-- This is the home page -->
<!doctype html>
<html>
  <head>
    <title>Welcome to Umair's Restaurant</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to Umair's Restaurant!</h1>
    <!-- Links to the other pages -->
    <p><a href="about">About Umair's Restaurant</a></p>
    <p><a href="menu">Menu</a></p>
    <p><a href="menu/vegan">Vegan Menu</a></p>
    <p><a href="menu/saver">Saver Menu</a></p>
    <p><a href="menu/search">Search</a></p>
    <p><a href="menu/add">Add</a></p>
  </body>
</html>
