<!doctype html>
<html>
  <head>
    <title>Welcome to Umair's Restaurant</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to Umair's Restaurant!</h1>
    <p><a href="about">About Umair's Restaurant</a></p>
  </body>
</html>
