<!-- This page confirms to the user that they have successfully logged in -->
<!doctype html>
<html>
  <head>
    <title>Successful Login</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Successful Login!</h1>
    <h2>Welcome <%= username %>! You have successfully logged in.</h2>
  </body>
</html>