<!-- This page allows users to login -->
<!doctype html>
<html>
  <head>
    <title>Login to Umair's Restaurant</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Login to Umair's Restaurant</h1>
    <h2>If you already have an account with us, enter your details below to login:</h2>
    <form method="POST" action="loggedin">
        <p>Username: <input id="username" type="text" name="username"/></p>
        <p>Password: <input id="password" type="password" name="password"/></p>
        <input type="submit" value="Login" />
      </form>
  </body>
</html>