<!doctype html>
<html>
  <head>
    <title>Umair's Restaurant Saver Menu</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Umair's Restaurant Saver Menu</h1>
    <h2>Here are all of the items under £3.00 on our menu:</h2>
    <ul>
      <% menuItems.forEach(function(item) { %>
        <li><%= item.name %>, £<%= item.price%> </li>
      <% }) %>
    </ul>
    </body>
</html>
