<!-- This page shows all of the items under £3.00 on the menu -->
<!doctype html>
<html>
  <head>
    <title>Umair's Restaurant Saver Menu</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav> 
      <p1><a href="/"> Return to Home</a></p1>  <!-- Link to the home page -->
    </nav>
    <h1>Umair's Restaurant Saver Menu</h1>
    <h2>Here are all of the items under £3.00 on our menu:</h2>
    <ul>
      <% menuItems.forEach(function(item) { %>  <!-- Iterates through each menu item under £3.00 and displays them to user -->
        <li><%= item.name %>, £<%= item.price%> </li>
      <% }) %>
    </ul>
    </body>
</html>
