<!-- This page returns the search results -->
<!doctype html>
<html>
  <head>
    <title>Search Results</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search Results</h1>
    <h2>Here is a list of any matching items on our menu:</h2>
    <% if (menuItems.length === 0) { %>
        <p>No items found matching your search.</p> <!-- Message displayed if no items match -->
    <% } %>
    <ul>
      <% menuItems.forEach(function(item) { %>
        <li><%= item.name %>, £<%= item.price%> </li> <!-- Displays all matching items -->
      <% }) %>
    </ul>
    <p><a href="/menu/search">Search again</a></p> <!-- Allows user to search again -->
    </body>
</html>
