 <!-- This page allows users to search for certain items on the menu -->
<!doctype html>
<html>
  <head>
    <title>Search Menu</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav> 
      <p1><a href="/"> Return to Home</a></p1>  <!-- Link to the home page -->
    </nav>
    <h1>Search Menu</h1>
    <form action="search_result" method="GET">
      <p>What would you like to indulge in?</p>
      <input id="search_box" type="text" name="search_text">   <!-- Input box for user to search menu -->
      <input type="submit" value="Search" >
    </form>
  </body>
</html>