<!doctype html>
<html>
  <head>
    <title>Search Results</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search Results</h1>
    <h2>Here is a list of any matching items on our menu:</h2>
    <ul>
      <% menuItems.forEach(function(item) { %>
        <li><%= item.name %>, £<%= item.price%> </li>
      <% }) %>
    </ul>
    </body>
</html>
