<!-- This page displays all of the vegan items on the menu -->
<!doctype html>
<html>
  <head>
    <title>Umair's Restaurant Vegan Menu</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Umair's Restaurant Vegan Menu</h1>
    <h2>Here are all of the vegan items on our menu:</h2>
    <ul>
      <% menuItems.forEach(function(item) { %>   <!-- Iterates through each menu item that's vegan and displays them to user -->
        <li><%= item.name %>, £<%= item.price%> </li>
      <% }) %>
    </ul>
    </body>
</html>
