<!-- This page is displayed if user inputs invalid data -->
<!doctype html>
<html>
  <head>
    <title>Add item to menu</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav> 
      <p1><a href="/"> Return to Home</a></p1>  <!-- Link to the home page -->
      <button id="darkmode">Enable Dark Mode</button> <!-- Button to toggle dark mode -->
    </nav>
    <h1>Add item to our menu</h1>
    <h2>Here at Umair's Restaurant we strive to make every customer happy! If you can't find what you desire, simply add it to our menu below: </h2>
    <form method="POST" action="/menu/itemadded">
        <p>Invalid input. Please enter a valid name and price.</p> <!-- Informs the user their input is invalid -->
        <p>Item name: <input id="name" type="text" name="name" value="" /></p>
        <p>Price: <input id="price" type="text" name="price" value="" /></p>
        <p>
            Vegan: 
            <select id="vegan" name="vegan"> <!-- Dropdown menu to select yes or no for vegan -->
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </p>
        <input type="submit" value="Add Item" />
      </form>
    <script src="/darkmode.js"></script> <!-- Link to the dark mode script -->
  </body>
</html>

