<!-- This page informs user they must be logged in to logout -->
<!doctype html>
<html>
  <head>
    <title>Logout</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav> 
        <p1><a href="/"> Return to Home</a></p1>  <!-- Link to the home page -->
    </nav>
    <h1>Logout</h1>
    <h2>Logout Error</h2>
    <p>You must be logged in to logout. Click below to login.</p>  <!-- User is informed they must login first to logout -->
    <form method="GET" action="/users/login">
        <input type="submit" value="Login" />  <!-- Redirects user to login page -->
      </form>
  </body>
</html>