<!-- This page allows users to search for nutritional information using API -->
<!doctype html>
<html>
  <head>
    <title>Nutritional Information</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav> 
        <p1><a href="/"> Return to Home</a></p1>  <!-- Link to the home page -->
        <button id="darkmode">Enable Dark Mode</button> <!-- Button to toggle dark mode -->
    </nav>
    <h1>Nutritional Information</h1>
    <h2>Enter an item below to get its nutritional information:</h2>
    <form method="POST" action="/nutrition/search">
        <p>Item: <input id="query" type="text" name="query"/></p>
        <input type="submit" value="Search" />  <!-- Allows user to search for nutritional info -->
      </form>
    <script src="/darkmode.js"></script> <!-- Link to dark mode script -->
  </body>
</html>